---
import Collapse from '@/components/Collapse.astro'
import Timeline from '@/components/Timeline.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import Comment from '@/components/Comment.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import Button from '@/components/Button.astro'
import Substats from '@/components/about/Substats.astro'
import Spoiler from '@/components/Spoiler.astro'

const headings = [
  {
    depth: 2,
    slug: 'general-talk',
    text: 'General Talk'
  },
  {
    depth: 2,
    slug: 'tools',
    text: 'Tools'
  },
  {
    depth: 2,
    slug: 'social-networks',
    text: 'Social Networks'
  },
  {
    depth: 2,
    slug: 'gossips',
    text: 'Gossips'
  },
  {
    depth: 2,
    slug: 'about-blog',
    text: 'About Blog'
  }
]
---

<PageLayout title='About' headings={headings} info='/about'>
  <p>My CV: <a href="/CV_English.pdf" target="_blank" rel="noopener">CV_English.pdf</a></p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' />
  <!-- general-talk -->
  <h2 id='general-talk'>General Talk</h2>
  <ul>
    <li>
      <p>2024-4-20</p>
      <p>Gave a public talk about the topic in C++ pointer.</p>
      <p>Link: <a href="https://www.bilibili.com/video/BV14t421j7um/">All about C++指针【NKU学业指导中心】</a></p>
    </li>
  </ul>

  <!-- social-networks -->
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    My active social network accounts, you can check me out following these links:
  </p>
  <Substats />
  <Comment slot='bottom' />
</PageLayout>
